#picture {
width:100%;
height: 100%;
min-width: 280px;
min-height: 280px;
 border-radius: 10px;
 margin-left: 0;
 /* object-fit: cover; */
 /* text-decoration: none; */
}

.alltheSpots{
    /* display: flex; */
     /* flex-direction: row;
    flex-wrap: wrap;  
    align-items: flex-start;
    justify-content: space-between; */
     display: grid;
     /* grid-auto-flow: column; */
    /* grid-template-rows:minmax(200px) ; */
    /* grid-template-rows: repeat(auto-fit, minmax(270px, 1fr)); */
     grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
     gap: 5px;
     
}
 .pictureWrap{ 
     display: flex;
    flex-direction: column;
    padding:5px 0px 20px 10px;
    text-decoration: none;  
 }

.picturetext{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    float: left;
    justify-content: space-between;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
    
    /* flex-wrap: wrap; */
}
.rating{
   padding: 0px 20px;

 margin-right: -20px;
 display: flex;
 justify-content: flex-end;
}


.price{ 
    font-size: 17px;
    font-weight: bold;
    float: right;
    color: black;
}
.nightwrap{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.yo{
    float: right;
    margin-top: -20px;
}
.night{
    font-size: 10px;
    float: right;
    color: black;
    padding-left: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}