/* .pics  {
    width:660px;
    height:660px;
    border-radius: 10px;
   } */
   
   /* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
   } */
  .page{
   
    display: flex;
 flex-direction: column;
 align-items: flex-start;
 font-family: 'Montserrat', sans-serif;
 margin-left:10% ;
 margin-right: 10%;
  }
  .pic1{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    /* margin: auto; */
  }
  .text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 20px;
  }
  .name{
    font-size: 30px;
  }
  .star{
    margin-top: -2px;
  }
  /* .country{
    padding-left: 5px;
  } */
  .rev{
    padding-left: 10px;
  }
  .city{
    padding-left: 10px;
  }
  .dot{
    padding-left: 10px;
  }
  .dot2{
    padding-left: 10px;
  }
  .belongs{
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .text2{
    padding-bottom:25px;
  }
  .solid{
    border-top: 30px solid white;
    padding-top: 10px;
  }

  .icon{
    display: flex;
    font-size: 50px;
    justify-content: flex-end;
    margin-top: -80px;
   
  }
  .solid2{
    border-top: 1px solid #bbb;
    padding-bottom: 20px;
  }
  .solid8{
    border-top: 1px solid #bbb;
    padding-bottom: 1px;
    
    margin-left: -40px;
  }

  /* .cry{
    font-size: 40px;
  } */

  /* .cancel{
    display: flex;
    flex-direction: row;
    
  } */
 

  .belowpic{
    display: grid;
    grid-template-columns: 2fr 2fr;
    
  }
  .col1{
    display: grid;
    grid-template-columns: 1fr 10fr;
  }

  .grid1{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 30px;
    gap: 30px;
  }

 .check1{
  font-weight: bold;
 }

 
  .solid3{
    border-top: 1px solid white;
    padding-bottom: 14px;
  }
  .hosttext{
    font-weight: bold;
  }
  .sadge{
    font-weight: bold;
  }
  .solid4{
    border-top: 1px solid white;
    padding-bottom: 20px;
  }
  .solid5{
    border-top: 1px solid white;
    padding-bottom: 32px;
  }
#revButton{
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  font-size: 17px;
  background-color: rgb(186, 183, 183);
}


.solid6{
  height: 20px;
  background: rgb(0, 0, 0);
}
.square{ 
  display: flex;
  width:250px ;
  height:300px ;
  border:1px solid white; 
 background: transparent ;
 align-items: flex-start;
 border-radius: 8px;
 box-shadow: 0 0 35px rgba(33,33,33,.2);
 position: sticky;
} 

#aircover{
  margin-left: -50px;
}

.aircovertext{
  margin-left: -40px;
}
.themRevs{
  display: grid;
  grid-template-columns: 450px 450px;
  
}
.thereview{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
.firstname{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.delbutton{
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  font-size: 17px;
  background-color: rgb(186, 183, 183);
}
.topofsquare{
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.pricenight{
  display: flex;
  flex-direction: row;

}
.squarecontents{
  display: flex;
  
}
.spotprice{
  font-weight: bold;
  font-size: 23px;
  margin-top: -6px;
 
}
.othertwo{
  display: flex;
  flex-direction: row;

}
.spotreviewsagain{
  margin-bottom: -20px;
}
.square2{ 

  width:200px ;
  height:50px ;
  border:1px solid white; 
 background: transparent ;
 
 border-radius: 8px;
 box-shadow: 0 0 35px rgba(33,33,33,.2);
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: gray;
 
} 
.square3{ 
  
  width:200px ;
  height:150px ;
  border:1px solid white; 
 background: transparent ;
 background-color: gray;
 margin-bottom: 10px;
 border-radius: 8px;
 box-shadow: 0 0 35px rgba(33,33,33,.2);
 
} 
.square2text{
font-size: 30px;
color: white;
}